$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/reveal.js/css/reveal.scss";
// endbower

// Reveal theme
@import "bower_components/reveal.js/css/theme/template/mixins";
@import "bower_components/reveal.js/css/theme/template/settings";
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic.eot');
    src: url('../fonts/league-gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.woff') format('woff'),
         url('../fonts/league-gothic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
@mixin bodyBackground() {
	@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}
@import "bower_components/reveal.js/css/theme/template/theme";
// End reveal theme

@font-face {
  font-family: LinBio;
  src: url('../fonts/LinBiolinum_R.woff');
}

@font-face {
  font-family: LinBio;
  src: url('../fonts/LinBiolinum_RB.woff');
  font-weight: bold;
}

@font-face {
  font-family: KlinicSlan;
  src: url('../fonts/KlinicSlabBook.otf');
}

.reveal {

  section {
    img {
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  }

  pre {
    border-radius: 0;
  }

  .instructions {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.5em;
    line-height: 1.5;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    list-style: none;
  }
}

:root {
  --color: red;
}

.reveal {

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    .title__speaker, .title__talk {
      display: inline-block;
      padding: 0 10px;
    }
  }

  .example-css-variables {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  .example-css-variables-1 {
    background-color: var(--color);
  }

  .example-css-variables-2 {
    color: var(--color);
  }

  .example-css-variables-3 {
    border: 1px solid var(--color);
  }

  .example-css-variables-4 {
    background-color: white;
    color: #333;
    padding: 15px;
    font-size: 2rem;
    position: relative;

    .progress-bar {
      height: 5px;
      width: calc(var(--progress) * 1%);
      background-color: red;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: none;
    }

    .text {
      max-height: 50vh;
      overflow: auto;
    }
  }

  .example-emails-1 {
    background-color: white;
    color: #333333;

    &:before {
      content: "Content written in CSS";
    }
  }

  .example-emails-2 {
    .interactive {
      width: 50px;
      height: 50px;
      background-color: blue;
    }

    input {
      display: none;

      &:checked + .interactive {
        background-color: red;
      }
    }
  }

  .example-css-logo {

    &.example-css-logo--1 {
      font-family: KlinicSlan;
      display: inline-block;
      background-color: white;
      color: #00465E;
      font-size: 3em;
      width: 300px;
      height: 150px;
      text-align: center;
      position: relative;
    }

    &.example-css-logo--2:before {
      content: "Ebury";
      letter-spacing: -7px;
    }

    &.example-css-logo--3:after {
      width: 7px;
      height: 7px;
      background-color: red;
      position: absolute;
      left: 0;
      content: "";
    }

    &.example-css-logo--4:after {
      background-color: transparent;
      box-shadow: 90.75px 31px 0 0 #B4C9D0,
                  219px 50px 0 0 #B4C9D0,
                  89.5px 15px 0 9px #FFFFFF,
                  219px 35px 0 9px #FFFFFF;
    }
  }

  .example-webfonts {
    font-family: LinBio;
  }

  .example-webfonts-2 {
    font-variant-numeric: proportional-nums;

    td {
      font-family: LinBio;
      text-align: right;
    }
  }

  .other-talks {
    font-size: 0.75em;

    img {
      display: inline-block;
      max-width: 25%;
      margin: 0;
      margin-right: 15px;
      vertical-align: middle;
    }

    th, td {
      vertical-align: middle;
    }
  }
}

